
<html>
<head>
    <title>Chat WebSocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;
        var baseAddress = 'http://localhost:8080';
        var from = "";
        var reciever = "";

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }


        function connect() {
            setConnected(true);

            fetch("http://localhost:8080/api/getHistory", {
                method: 'POST',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'receiver':'kanber','sender':'enes'}),
                cache: 'default'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json(); // JSON formatında veriyi çekiyoruz
                })
                .then(data => {
                    for (i = 0;i<data.length;i++){
                        handleReceivedMessage(data[i])
                    }

                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });

            var socket = new SockJS('/chat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/user/' +document.getElementById('from').value +'/specific', function (message) {
                    handleReceivedMessage(JSON.parse(message.body));
                });
            });
        }

        function disconnect() {
            if(stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            from = document.getElementById('from').value;
            reciever = document.getElementById('reciever').value;
            var text = document.getElementById('text').value;
            stompClient.send("/app/private", {},
                JSON.stringify({'receiver':reciever,'sender':from, 'content':text}));
        }

        function handleReceivedMessage(message) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message.sender + ": " + message.receiver + " : " + message.content));
            response.appendChild(p);
        }
    </script>
</head>
<body onload="disconnect()">
<div>
    <div>
        <input type="text" id="from" placeholder="Kullanici Adi"/>
    </div>
    <br />
    <div>
        <button id="connect" onclick="connect();">Baglan</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
            Cikis
        </button>
    </div>
    <br />
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Mesaj.."/>
        <input type="text" id="reciever" placeholder="Alıcı.."/>

        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>
